# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://bimt6387:bimt123@cluster0.vfwnlnz.mongodb.net/Mfine-admin

# JWT
JWT_SECRET=fdsjkr8we324lrjdmkfceur3257ejr9835kfmc8wyer83mc09w53wrjwe097jrc324i0
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

# Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=noreply@mfine.com
FROM_NAME=MFine Admin

# Client URL
CLIENT_URL=http://localhost:3000

# File Upload
MAX_FILE_SIZE=5000000
FILE_UPLOAD_PATH=./server/uploads
